@import "../../assets/styles/variables/_index.scss";

.header {
    box-shadow:  -5px -5px 20px 5px #917e79, inset 0px 0px 10px 2px darkslategray, inset 0px 0px 20px 10px steelblue;
    display: flex;
    position: relative;
    min-height: 220px;
    &-logo {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
    }
    &-links {
        position: absolute;
        bottom: 65px;
        left: 20px;
    }
}
.logo {
    max-width: calc(100% - 40px);
}
.icon {
    position: relative;
    width: 19%;
    height: 0;
    @media all and (min-width: 640px) {
        width: 9%;
    }

    a {
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        left: 0;
        border-radius: 50%;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all 0.2s ease-out;
        background-color: $color-blue;
        background-image: url("https://benhodgson.net/img/social/github.svg");

        &:hover {
            background-color: $color-blue;
            background-size: 0%;
            transition: all 0.2s ease-out;
        }
    }
}

.icon__name {
    position: absolute;
    top: 40%;
    width: 100%;
    color: #fff;
    font-size: 13px;
    text-align: center;
    transition: all 0.3s ease-out;
    opacity: 0;
    filter: blur(25px);
    transform: translateZ(0);
    will-change: transform;

    .icon:hover & {
        transition: all 0.3s ease-out;
        opacity: 1;
        filter: blur(0);
    }
}
