@import "../../assets/styles/variables/_index.scss";

.home {
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1504173010664-32509aeebb62?ixlib=rb-1.2.1&auto=format&fit=crop&w=713&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2rem;
    &-introduction {
        margin-block: 3rem;
        margin-inline: auto;
        padding-inline: 3rem;
        --flow-space: 2rem;
        font-size: 3em;
        font-weight: 900;
        line-height: 1.1;
        letter-spacing: 1.5px;
        max-width: 45ch;
        text-shadow: 1px 1px 0px $color-blue, 2px 2px 0px $color-red;
        color: white;
        text-align: center;
    }
    &-location{
        display: flex;
        gap: 1rem;
        color: white;
        font-weight:bold;
        font-size: 1.5rem;
    }
}
.button {
    background-color: $color-red;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin-inline: auto;
    margin-top: 2rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.button:hover {
    background-color: #534542;
}
